name: Build

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  schedule:
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt install pandoc
          python -m pip install --upgrade pip
          pip install poetry
          if [ -f pyproject.toml ]; then poetry install --with dev,docs; fi

      - name: Lint with ruff
        run: |
          poetry run ruff compotime tests

      - name: Test with pytest
        run: |
          poetry run make tests

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Build documentation
        run: |
          poetry run make docs

      - name: Check compatibility with other libraries
        run: |
          poetry add statsmodels scikit-learn sktime
